.createClient_container {
    -fx-background-color: #FFFFFF;
}
.createClient_container Text {
    -fx-font-size: 1.2em;
    -fx-fill: #888888;
}
.createClient_container VBox {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: linear-gradient(to right ,#0F2A45,#63B5F8);
    -fx-padding: 10;
    -fx-spacing: 15;
}
.createClient_container TextField {
    -fx-pref-width: 250;
    -fx-pref-height: 35;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 1.3em;
    -fx-effect: dropshadow(three-pass-box,#AAAAAA,3,0,0,3);
}
.payee_address_lbl{
    -fx-pref-width: 250;
    -fx-pref-height: 30;
    -fx-padding: 5;
    -fx-background-color: #BBDFFC;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 5;
    -fx-font-size: 1.3em;
    -fx-effect: dropshadow(three-pass-box,#AAAAAA,3,0,0,3);
}
.createClient_container Button{
    -fx-background-color: linear-gradient(to right ,#0F2A45,#63B5F8);
    -fx-effect: dropshadow(three-pass-box,#AAAAAA,3,0,0,3);
    -fx-pref-width: 250;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}
.createClient_container Button:hover{
    -fx-cursor: hand;

}
.error_lbl{
    -fx-text-fill: #FF0000;
}