.login_container{
    -fx-background-color: #EEEEEE;
}
/*Logo Container Styles*/
.login_logo_container {
    -fx-background-color: #0F2A45;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-padding: 20;
}

.login_logo_container Text{
    -fx-font-size: 2em;
    -fx-text-fill: white;

}
.login_logo_container FontAwesomeIconView{
    -fx-fill: #ECF39E;

}
/*Account Selector choice Box Styles*/
.account_selector{
    -fx-text-fill: #ECF39E;
}
.account_selector .label{
     -fx-text-fill: #0F2A45;
    -fx-font-size: 1.1em;
}
.account_selector .arrow{
    -fx-background-color: #0F2A45;

}
#choice-box-popup-menu{
    -fx-background-color: #ECF39E;
}
/*Login Form Styles*/
#choice-prompt-text{
    -fx-text-weight: 400;
}
.login_form_container {
    -fx-spacing: 15;
    -fx-alignment: top_left;
}
.login_form_container Label{
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}
.input_field {
    -fx-background-color: #FFFFFF;
    -fx-pref-radius: 35;
    -fx-font-size: 1.2em;
}
.login_form_container Button{
    -fx-background-color: #0F2A45;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 350;
    -fx-font-size: 1.2em;
}
.login_form_container Button:hover{
    -fx-cursor: hand;
}
.error_lbl{
    -fx-text-fill: #FF0000;
}